# App
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=pizzeria_db
DATABASE_USER=postgres
DATABASE_PASSWORD=tu_password_aqui
DATABASE_URL=postgresql://postgres:tu_password_aqui@localhost:5432/pizzeria_db

# JWT
JWT_SECRET=cambia_esto_por_un_string_muy_largo_y_aleatorio_minimo_64_chars
JWT_EXPIRES_IN=8h

# CORS
CORS_ORIGINS=http://localhost:3001

# Stripe
STRIPE_SECRET_KEY=sk_test_TU_KEY_AQUI
STRIPE_PUBLISHABLE_KEY=pk_test_TU_KEY_AQUI
STRIPE_WEBHOOK_SECRET=whsec_TU_WEBHOOK_SECRET_AQUI

# URL del frontend
FRONTEND_URL=http://localhost:3001

# Negocio
BUSINESS_NAME=Mi Pizzeria
DELIVERY_FEE_DEFAULT=35
FREE_DELIVERY_MINIMUM=350